<div class="container">
  <div class="row">
    <div class="col-6">
      <img class="img-fluid rounded img-thumbnail" src="https://localhost:5001/arquivos/{{produto.nomeArquivo}}" alt="{{produto.nome}}">
    </div>
    <div class="col-6">
      <div class="row mb-4"><h4 class="h2">{{produto.nome}}</h4></div>
      <div class="row mb-4"><p class="">{{produto.descricao}}</p></div>
      <div class="row mb-4"><h4 class="h3">R${{produto.preco}}</h4></div>
      <div class="row mb-4"><a class="btn btn-danger btn-lg" (click)="comprar()">Comprar</a></div>
    </div>
  </div>
</div>
