<div *ngIf="!produtos">Listando os produtos...</div>

<div class="container" *ngIf="produtos">
  <div class="row">
    <div class="col-12 col-md-4 mb-4" *ngFor="let p of produtos">
      <a (click)="abrirProduto(p)">
        <div class="card">
          <img class="card-img-top" src="https://localhost:5001/arquivos/{{p.nomeArquivo}}" alt="{{p.nome}}">
          <div class="card-body">
            <h5 class="card-title" style="min-height: 48px;">{{p.nome | truncate: 40}}</h5>
            <div class="card-text " style="min-height: 48px;">{{p.descricao | truncate: 50}}</div>
            <h5 class="h5">R${{p.preco}}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
