<form class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Cadastro de Produto</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputNome"
               name="nomeProduto" placeholder="Nome do produto"
               class="form-control"
               [ngClass]="{
        'is-invalid': nome.invalid && (nome.dirty || nome.touched),
        'is-valid': nome.valid && (nome.dirty || nome.touched)
      }"
               [(ngModel)]="this.produto.nome"
               #nome="ngModel"
               required />

        <div class="invalid-feedback" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
            <div *ngIf="nome.errors.required">O nome do produto deve ser preenchido.</div>
        </div>

        <label for="inputNome">Nome do produto</label>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputDescricao"
               name="descricaoProduto" placeholder="Descrição"
               class="form-control"
               [ngClass]="{
        'is-invalid': descricao.invalid && (descricao.dirty || descricao.touched),
        'is-valid': descricao.valid && (descricao.dirty || descricao.touched)
      }"
               [(ngModel)]="this.produto.descricao"
               #descricao="ngModel"
               required />

        <div class="invalid-feedback" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
            <div *ngIf="descricao.errors.required">A descrição do produto deve ser preenchido.</div>
        </div>

        <label for="inputDescricao">Descrição do produto</label>
    </div>

    <div class="form-label-group">
        <input type="number" id="inputPreco"
               name="precoProduto" placeholder="Preço"
               class="form-control"
               [ngClass]="{
        'is-invalid': preco.invalid && (preco.dirty || preco.touched),
        'is-valid': preco.valid && (preco.dirty || preco.touched)
      }"
               [(ngModel)]="this.produto.preco"
               #preco="ngModel"
               required />

        <div class="invalid-feedback" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
            <div *ngIf="preco.errors.required">O preço do produto deve ser preenchido.</div>
        </div>

        <label for="inputPreco">Preço do produto</label>
    </div>

    <div class="input-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputFile" aria-describedby="inputFotoProduto" (change)="inputChange($event.target.files)">
            <label class="custom-file-label" for="inputFile">Foto do produto</label>
        </div>
    </div>

    <button class="btn btn-primary btn-block mt-4 btn-cadastrar" type="submit" (click)="cadastrar()" [disabled]="ativar_spinner || !formIsValid()">
        <span *ngIf="ativar_spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span *ngIf="!this.ativar_spinner">Cadastrar</span>
        <span *ngIf="this.ativar_spinner"> Cadastrando</span>
    </button>


</form>
