@import url(../usuario/login/login.component.css);

.custom-file-label::after {
    content: "Selecionar" !important;
}
.btn-cadastrar:disabled {
    pointer-events: auto !important;
    cursor: not-allowed !important;
}

.was-validated .form-control:valid, .form-control.is-valid{
	background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' heig… 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e) !important;
}
