@import url(../usuario/login/login.component.css);

.custom-file-label::after {
    content: "Selecionar" !important;
}
.btn-cadastrar:disabled {
    pointer-events: auto !important;
    cursor: not-allowed !important;
}