/* You can add global styles to this file, and also import other style files */


.initial{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  display: block;
  margin-top: 200px;
  color: #ff0537;
  margin-bottom: 10px;
}

img.loading{
  width: 100px;
  display: block;
  margin: 0 auto;
}

.rounded{border-radius: 5px !important;}
